[2022-01-14 10:07] rjbaat opened #88 "How to add custom ENV in CRD EmqxBroker"
Hi,
How can I add extra ENV in the EmqxBroker yaml config?
So I can enable the mysql auth plugin and setup the right settings.
Should I do that with ENV or is there another way to add the configs related to the plugin?

@Rory-Z can you maybe help me out with a sample config where the emqx mysql auth plugin is added? I tried to get the env somehow in the manifest but I doesn't get it to work.

[2022-01-17 01:36] Rory-Z commented on #88
Hi, @rjbaat
Apologies for the delay reply
Perhaps you could refer to the following example

[code]

[2022-01-17 07:02] rjbaat commented on #88
@Rory-Z thnx for your reply!

I did try this, but it looks like its not picked up.

Because when I do: `printenv | grep EMQX_AUTH__MYSQL__SERVER` I get no result

[2022-01-17 09:43] rjbaat commented on #88
@Rory-Z I used this yaml (https://raw.githubusercontent.com/emqx/emqx-operator/1.1.0/config/samples/operator/controller.yaml):

And used the latest container of EMQX `image: emqx/emqx:4.3.11`

[2022-01-17 09:47] Rory-Z commented on #88
Okay, let me try to reproduce your question

[2022-01-17 10:04] rjbaat commented on #88
@Rory-Z oke thnx. I tried also with `image: emqx/emqx:4.3.10` but no difference.

[2022-01-17 10:10] Rory-Z commented on #88
Sorry, this looks like a bug in emqx-operator, I'll try to fix it and release a new version when it's fixed

[2022-01-17 12:00] rjbaat commented on #88
@Rory-Z ah thnx for checking and fixing! I will keep an eye on a new version!

[2022-01-17 13:28] Rory-Z commented on #88
Hi, @rjbaat
As you can see, I have created a PR to fix this problem
While waiting for the PR to merge, you can use the APIVersion of v1beta1 and it will work fine

[2022-01-17 14:30] rjbaat commented on #88
Cool thnx! I will wait for the new CRD with fix to test again.

[2022-01-18 02:21] #88 closed

[2022-01-18 09:45] Rory-Z commented on #88
Hi, @rjbaat
EMQ X Operator 1.1.1 is released, welcome try it
https://github.com/emqx/emqx-operator/releases/tag/1.1.1

[2022-01-18 09:59] rjbaat commented on #88
Cool its working as far as I can see now!
Have to test it more, but so far I do see the mysql plugin enabled and with printenv the environment vars are populated!
Good job!

[2022-01-18 10:14] Rory-Z commented on #88
Great !
Please keep following our project and let us know if you have any suggestions or questions

[2022-01-21 23:23] ChPfisterer opened #97 "Error creating /opt/emqx/data/configs: permission denied"
Hey guys,

I am trying to run your operator on a local Kubernetes cluster, but get an error in the pod's log:
`kubectl logs emqx-0`
`2022-01-21T22:58:52.565992+00:00 [error] Error creating /opt/emqx/data/configs: permission denied`

Do you have any idea how I could fix this?
BR, Christian

[2022-01-24 01:23] Rory-Z commented on #97
Hi, @ChPfisterer
Can you share your deployment files?

[2022-01-24 08:49] ChPfisterer commented on #97
Hi guys and thank you for coming back to me.

My local K8s deployment consists of 2 VMs in Parallels Desktop on macOS: 1 control plane and one worker node;K8s version 1.21

I also created 6 Persistent Volumes like this:
[code]

[2022-01-24 09:04] kiragoo commented on #97
It seems you set up the  `PV` in `hostPath` mode. Can u share the `CR` yaml about the crd ? @ChPfisterer

[2022-01-24 09:06] ChPfisterer commented on #97
In addition:
I did the steps as described in the "getting started" section
1. depoloyed cert-manager
2. deployed operator with Helm with the flag installCRDs=true and --create-namespace

[2022-01-24 09:51] Rory-Z commented on #97
Hi, @ChPfisterer
This step just ensures that the emqx operator controller is deployed successfully, I need to know how you are deploying the emqx broker

[2022-01-24 10:02] ChPfisterer commented on #97
I guess pretty much the standard way, as described in the getting started:
emqx.yaml
[code]

[2022-01-24 10:05] Rory-Z commented on #97
Can you run `kubectl get sc` to check the storageClasses in the cluster?

[2022-01-24 10:40] ChPfisterer commented on #97
Oh... :(
[code]

But
[code]

[2022-01-24 10:41] Rory-Z opened #105 "Wait updates to apiVersion v1beta3"
TODO:

+ Delete `.spec.lables`, should use `meta.labels`
+ Delete `.spec.annotations`, should use `meta.annotations`
+ EmqxEnterprise's `.spec.license` supports base64 encoding, and support external secret
+ Delete `.spec.serviceAccount`, when use emqx 4.4.x, serviceAccount is not required

[2022-01-24 11:13] Rory-Z commented on #97
Sorry, we don't support persistentVolume at the moment, maybe you can try creating a storageClasses

If you're just validating the demo, you can use a minimal profile deployment, which won't turn on storage, like this
[code]

[2022-01-24 12:53] ChPfisterer commented on #97
Ok. Thank you for investigating.

[2022-01-24 12:53] #97 closed

[2022-01-25 08:02] kiragoo commented on #105
The reason for **Delete `.spec.serviceAccount`, when use emqx 4.4.x, serviceAccount is not required** should be explained, or attach the links of the docs related better.

[2022-02-13 18:22] mdallaire opened #110 "[Feature] Specify secrets for listeners TLS certificates"
**Is your feature request related to a problem? Please describe.**
There does not seem to be a way to use pre-existing certificates in kind: EmqxBroker

**Describe the solution you'd like**
Have an option to define an existing secret containing a TLS certificate for the secure ports

**Describe alternatives you've considered**
I can't find one right now in the information available on the kind: Em

[2022-02-14 02:07] Rory-Z commented on #110
Hi, @mdallaire
It's a good question and we have plans to make it happen, it's already in our roadmap

[2022-02-14 08:49] p1qt opened #111 "emqx-ee cannot be created normally"
**Describe the bug**
A clear and concise description of what the bug is.
when i use this yaml create emqx-ee，could not create successfully

[code]
This is the error screenshot
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/48899661/153829547-0dc1145a-2c39-476e-a245-f41c9b451784.png">

**To Reproduce**
[code]

**Anything else we need to know?**:

**Environment details:

[2022-02-14 08:51] imwbl commented on #111
but when i use broker can successfully created

[2022-02-15 01:25] Rory-Z commented on #111
Hi, @p1qt
Can you provide a log of when the error occurred? You can view the logs using the following command.
[code]

[2022-02-15 01:47] p1qt commented on #111
**Thanks, this problem have solved, not a bug😅.**

[2022-02-15 01:49] Rory-Z commented on #111
Cool

[2022-02-15 02:45] p1qt commented on #111
sorry，just now i use wrong yaml.This is the error screenshot
<img width="809" alt="image" src="https://user-images.githubusercontent.com/48899661/153982613-4d533556-5a57-4032-b84f-ac38ad0b400e.png">

[2022-02-17 05:04] ammmze opened #116 "[Feature Request] Add support to set annotations on the generated Service"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to add an annotation to the `Service` that the `EmqxBroker` generates such as: `coredns.io/hostname: "mqtt.example.com"`. This annotation specifically in my case causes coredns to add a DNS record resolving `mqtt.example.com`. to the ip address of the service.

**Describe the solution you'd like**
I think the `s

[2022-02-18 01:28] Rory-Z commented on #116
@ammmze
Cool ！we will include this in our development plans

[2022-02-18 09:22] Rory-Z commented on #111
Hi, @p1qt
I need more logs, you can use `--tail` to print more logs, like this:
[code]

[2022-02-21 17:25] joehecn opened #119 "aws eks"
按照用户说明操作在 aws(亚马逊中国宁夏区) eks 集群上跑不起来，
请问能不能提供一个在eks上运行的 demo
[code]

[code]

[2022-02-22 01:21] Rory-Z commented on #119
Hi，@joehecn
看起来是 pod 启动失败了，请提供一下 pod 的日志，谢谢

[2022-02-22 08:24] uqix opened #121 "EmqxBroker nodePorts does not work"
**Describe the bug**

`emqx` `Service` doesn't use those `nodePorts` specified in `EmqxBroker` object.

**To Reproduce**
Steps to reproduce the behavior:

With custom object:

[code]

**Expected behavior**

`emqx` `Service` should use `nodePorts`(30038 30039 etc.) specified in `EmqxBroker` object, but results in random allocated:

<img width="358" alt="image" src="https://user-images.githubusercon

[2022-02-22 09:58] Rory-Z commented on #121
Hi @uqix
Yes, it is a bug and we will fix it, thank you for your feedback!

[2022-02-22 21:57] joehecn commented on #119
Hi, @Rory-Z
谢谢回复，Pod日志如下：
hemiao@hemiaodeMacBook-Pro ~ % kubectl logs emqx-0
2022-02-22T21:51:05.098179+00:00 [error] Error creating /opt/emqx/data/configs: permission denied

hemiao@hemiaodeMacBook-Pro ~ % kubectl logs emqx-1
2022-02-22T21:51:10.674292+00:00 [error] Error creating /opt/emqx/data/configs: permission denied

hemiao@hemiaodeMacBook-Pro ~ % kubectl logs emqx-2
2022-02-22T21:51:38.581

[2022-02-23 01:31] Rory-Z commented on #119
@joehecn 看起来是权限问题，请分享一下你用于部署的 emqx.yaml ，以及 `kubectl get storageclass` 命令的输出

[2022-02-23 04:02] #121 closed

[2022-02-23 06:59] uqix opened #124 "[Question] reason behind changing accessModes from ReadWriteOnce in v1beta1 sample to ReadWriteMany in v1beta2 sample"
in [v1beta](https://github.com/emqx/emqx-operator/blob/main/config/samples/emqx/v1beta1/emqx.yaml) sample:
[code]

in [v1beta2](https://github.com/emqx/emqx-operator/blob/main/docs/user-guides/get-started.md) sample:

[code]

[2022-02-23 07:11] Rory-Z commented on #124
Sorry, this is an error, use `ReadWriteOnce` and you'll be fine

[2022-02-23 09:43] joehecn commented on #119
[code]
emqx.yaml
[code]

[2022-02-23 10:04] kiragoo commented on #119
@joehecn 谢谢你的反馈，这个问题我们会根据你这边提供的配置在eks上复现下，如果没有问题的话，我们这边会给出一个在eks上运行的demo 配置。

[2022-02-23 10:27] #124 closed

[2022-02-24 06:22] #116 closed

[2022-02-24 09:18] kiragoo commented on #119
@joehecn 你好，根据 release-1.1.2 的yaml 相关配置，做了问题的复现，初步怀疑应该是你配置的  storeageClass 问题，你可以通过如下命令进行验证
`kubectl describe sc pg2`，猜测你的输出应该会出现如下内容：
[code]
- 如若是如上输出的话，请参考文档进行处理，构建自己的`csi driver`[Amazon EFS CSI 驱动程序](https://docs.aws.amazon.com/zh_cn/zh_cn/eks/latest/userguide/efs-csi.html)
- 如若非上面输出烦请贴下明细的输出内容。

[2022-02-25 04:32] joehecn commented on #119
@kiragoo 谢谢回复，

问题：你建议的命令`kubectl describe sc pg2`是否应该拼写为 `gp2`?

1.  使用 `pg2` 的确出现 `not found`
[code]

2. 使用 `gp2` 返回结果如下:
[code]

[2022-02-25 07:24] kiragoo commented on #119
@joehecn 不好意思，应该是`gp2`。
`gp2` 是默认的`StorageClass`，需要对对`Amazon_EBS_CSI_Driver `其配置`IAM`策略，将权限放开。
命令操作的话参考[如何使用 Amazon EKS 中的持久性存储?](https://aws.amazon.com/cn/premiumsupport/knowledge-center/eks-persistent-storage/)
或者你在`aws Dashboard` 中进行配置具体的策略，
![image](https://user-images.githubusercontent.com/7400711/155672613-d2612497-4856-4721-98d0-f4ccccfa7772.png)

[2022-02-25 08:56] #110 closed

[2022-02-26 05:49] #111 closed

[2022-03-01 09:46] uqix commented on #121
Updated and it works, thanks, @Rory-Z

[2022-03-01 10:04] Rory-Z commented on #121
Cool. 👍

[2022-03-02 15:41] joehecn commented on #119
感谢，参照 https://docs.amazonaws.cn/eks/latest/userguide/managing-ebs-csi.html 添加 Amazon EBS CSI 附加组件后，系统成功运行。

[2022-03-06 18:30] joehecn commented on #119
不好意思，这个问题依然存在，之前我运行成功的集群是按照最小化的 emqx 配置跑成功了，但是一旦配置持久化数据还是跑不起来，依旧报错 `Error creating /opt/emqx/data/configs: permission denied`. 我已经 按照 aws 官网的教程 安装成功了 ebs 驱动并且成功运行了官方的示例程序，参照这个网址: https://docs.amazonaws.cn/eks/latest/userguide/managing-ebs-csi-self-managed-add-on.html

[2022-03-06 18:36] joehecn commented on #119
这个问题困扰我很多天了，真心希望可以提供一个可以在 https://www.amazonaws.cn 上可以持久化存储并且成功运行的 Demo

[2022-03-07 02:31] kiragoo commented on #119
@joehecn
1、最小化的 `emqx` 配置 跑成功了，这个最小化的配置是啥？你可以按照 `release` 版本中的`yaml` 去创建的。
2、关于持久化的卷无权限操作，这个建议你先通过构建一个简单的 `pod`+`pvc` 的应用去验证下你的 `sc` 配置是没问题的，这个是平台侧的权限配置，上面`comment`已经给出了配置入口和相关文档，需要结合你自己的`aws`配置去运行，或者你借鉴下通过 `terraform`
`https://github.com/brianbinbin/tf-eks/blob/main/README.md` 这篇文章去构建好基础设置。

[2022-03-12 22:59] ammmze opened #164 "Service creation fails"
**Describe the bug**
I'm getting the following error when attempting deploy an `EmqxBroker`:
[code]
The service does not get created, nor does the statefulset. I do see the headless service get created, but no ports are on it.

**To Reproduce**
Here's the resource I am applying (note: I'm using Flux CD which replaces things like `${SECRET_CLUSTER_DOMAIN}`):

[code]

**Expected behavior**
Broker an

[2022-03-13 02:48] ammmze commented on #164
Hmm...maybe i've got something goofed up in the `emqxTemplate` somewhere. When I pull up the yaml for what is in the cluster after applying, the entire `emqxTemplate` field is missing from the resource.

[2022-03-13 03:18] ammmze commented on #164
Not exactly sure why, but I just swapped to let the CRD's install via helm and that appeared to fix it. Previously, I was just applying the CRD's from [here](https://github.com/emqx/emqx-operator/tree/1.1.5/config/crd/bases).

[2022-03-13 03:18] #164 closed

[2022-03-21 12:16] #119 closed

[2022-04-07 16:02] ondrejmo opened #168 "Release manifests has broken metrics"
**Describe the bug**

Operator doesn't have correctly configured service and/or containerPort, consequently metrics endpoint doesn't work.

**To Reproduce**

[code]
`emqx-operator-controller-manager-metrics-service` has one port (https/8443), this port points to targetPort `https` on `emqx-operator-controller-manager-...` pod. The container in the pod doesn't have any such `containerPort`, because

[2022-04-18 08:01] kiragoo commented on #168
@ondrejmo Thanks for your feedback.We'll reproduce the failure depends on `emqx-operator` 1.1.5.

[2022-04-18 14:29] burhanshaikh commented on #97
Hi!
I am getting the same error when I create PVCs - AWS EBS
Creation of PVs via storage class(PVC) do not work, the support for PVs need to be added. Do we have any timeframe/estimates on when this will be shipped?

[2022-04-19 02:47] kiragoo commented on #97
@burhanshaikh Can you show  more details about the storage class used, thanks for your feedback.

[2022-04-19 05:52] burhanshaikh commented on #97
[code]

[code]

[2022-04-21 04:19] wkhatch commented on #97
I'm getting the same error in EKS using ebs with dynamic provisioning. Single pod; Deployment succeeds, and volume is mounted at /opt/emqx/data, but pod keeps cycling with this error in the logs, only. Why did this get closed? Is there a solution?

[2022-04-21 11:49] wkhatch commented on #97
Also, getting same error when deploying as a stateful set. I then changed the mount path to /opt/emqx/data/mnesia, and now getting Kernel pid terminated (application_controller) ({application_start_failure,emqx,{{"Cannot create Mnesia dir","/opt/emqx/data/mnesia/emqx-statefulset-0@10.4.82.75",eacces},{emqx_app,start,[normal,[]]}}

[2022-04-22 01:45] Rory-Z commented on #97
Hi, @wkhatch
This seems to be an Amazon EBS strategy issue, maybe you could refer to https://docs.amazonaws.cn/en_us/eks/latest/userguide/managing-ebs-csi.html

We have added SecurityContext to [this PR](https://github.com/emqx/emqx-operator/pull/167) to address this issue, look out for our next release!

If you have a new question, could you please create an issue, this issue is closed

[2022-04-24 03:51] Rory-Z opened #181 "Liveness and Readiness Probes support in EmqxBroker"
### Discussed in https://github.com/emqx/emqx-operator/discussions/171

<div type='discussions-op-text'>

<sup>Originally posted by **burhanshaikh** April 14, 2022</sup>
At the moment I am not able to specify Liveness and Readiness Probes in EmqxBroker Custom Resource.
I want to specify custom initialDelaySeconds and other fields under the probe.
It is not defined in the CRD, or am I missing somet

[2022-04-24 06:04] #168 closed

[2022-04-24 06:10] kiragoo commented on #168
@ondrejmo Hi，we will be glad for your feedback if you have any other questions for using `EMQX Operator` in `kubernetes`.😁

[2022-04-24 12:15] kiragoo commented on #168
@ondrejmo Sorry for that, you can edit the context in `emqx-operator-controller.yaml` which releated with `emqx-operator-controller-manager-metrics-servic`:
[code]
we will be glad for your feedback if you have any other questions.😁

[2022-04-26 09:21] Rory-Z commented on #168
Hi, @ondrejmo we released EMQX Operator 1.1.6
In EMQX Operator 1.1.6, the pod already exposed `containerPort: 8080`
Thanks for your feedback

[2022-05-05 08:30] wuxingzhong opened #190 "how to expose internalmqtt(port: 11883)"

[2022-05-05 08:31] Rory-Z commented on #190
I'm srooy, we only support the emqx external listener for now, so you can look forward to our next steps!

[2022-05-05 09:37] #105 closed

[2022-05-08 12:08] #181 closed

[2022-05-20 07:13] brianbinbin opened #207 "Failed when executing make test"
**Describe the bug**
There are two cases that failed when executing the `make test`
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/50078747/169473845-9225eb26-f4af-4305-8d60-d340175e03c8.png">

**To Reproduce**
1. switch tag 1.1.7
2. make test

**Expected behavior**
All cases should be passed

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes

[2022-05-20 07:36] #207 closed

[2022-05-21 00:11] muicoder opened #210 "updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden""
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: v1.20.8
- Cloud-provider/provisioner:
- emqx-operator version: v1.1.8
- Install method: helm

[2022-05-24 01:21] Rory-Z commented on #210
Hi, @muicoder Sorry for delay.
Could you please describe the behavior of the reproduction step?

[2022-05-24 01:31] Rory-Z commented on #210
What field value has been modified in the spec, just give me example

[2022-05-24 02:18] muicoder commented on #210
Modified it: .spec.affinity

[2022-05-24 03:35] muicoder commented on #210
The problem is found, it is caused by modifying the storage field, which is in line with expectations.

[2022-05-24 03:35] #210 closed

[2022-06-09 05:48] siaron opened #223 "load plugin"
**Is your feature request related to a problem? Please describe.**
v1/beat2 支持加载插件吗?
- 例如
[code]

[2022-06-09 05:50] Rory-Z commented on #223
Sorry about that, EmqxPlugin only support v1beta3, we plan release this for emqx operator 1.2 version

[2022-06-09 05:53] siaron commented on #223
When will emqx operator 1.2 be released? We are going to try it out.

[2022-06-09 05:57] siaron commented on #223
We need the ability to dynamically load plugins. The current helm chart support is not good. We urgently need this function.

[2022-06-09 05:58] Rory-Z commented on #223
We plan to release it by June 15 and demo it on June 15 at 8:00pm Beijing time, so stay tuned!

[2022-06-09 06:03] Rory-Z commented on #223
I'm believe EmqxPlugin CRD will meet your needs, if you have any feedback, please let me know

[2022-06-13 10:32] Rory-Z commented on #223
Hi, @siaron EMQX Operator 1.2 will come soon, please check https://github.com/emqx/emqx-operator/issues/223

[2022-06-13 10:53] wuxingzhong commented on #190
OK, Thanks!

[2022-06-13 10:53] #190 closed

[2022-06-15 08:18] Slideee opened #236 "Could not load plugin"
emqx-operator ：1.2.0
emqx： 4.4.1

<img width="1226" alt="image" src="https://user-images.githubusercontent.com/48793283/173777895-e348ee41-9666-4ef3-9377-63f200ed9da5.png">

[2022-06-15 08:19] Rory-Z commented on #236
Please use `EmqxPlugin` custom resource deploy plugins

[2022-06-15 08:44] Slideee commented on #236
The execution through the `EmqxPlugin ` is successful, but from the dashboard and emqx_ctl, the plugin is not started.
![image](https://user-images.githubusercontent.com/48793283/173782493-84bda1fb-f210-4de4-96c9-9f1a93fbf14e.png)

![image](https://user-images.githubusercontent.com/48793283/173783877-decb6ba3-0add-4f82-9dfd-9e28cab462db.png)

I tried to load other plugins via /bin/emqx_ctl and it

[2022-06-16 02:05] Rory-Z commented on #236
Looks plugin config failed, please modify ".spec.config" for `EmqxPlugin`:
[code]

[2022-06-16 02:54] Slideee commented on #236
Configure ".spec.config" for EmqxPlugin as you said has been successful.

The reason for the console error "parse_config_file_failed" seems to be that there is no default `.conf`  when the plugin is initialized.Is it necessary to initialize the default `.conf` files for all plugins here?

![image](https://user-images.githubusercontent.com/48793283/173980745-5ee1b4c0-a5ba-4852-ab4f-1e116864b53a.png

[2022-06-16 03:11] Rory-Z commented on #236
Yes，we don't have default config for plugin.
This's looks like load `emqx_auth_mysql` failed, did you load this plugin? or this is what `EMQX` does?

[2022-06-16 03:16] Slideee commented on #236
I loaded `emqx_auth_mysql` through the dashboard, and then reported an error of 'parse_config_file_failed'. Looking at the log, I found that there was no `emqx_auth_mysql.conf` in the mounted directory.
So I think it seems that the operator should mount the default configuration of the plugin, otherwise it cannot be manually started and stopped through the dashboard

[2022-06-16 03:31] Rory-Z commented on #236
I see，let me add default config for next release

[2022-06-21 03:57] wonderful-ya opened #242 "when use helm uninstall the emqx-operator release, the emqxplugins.apps.emqx.io crd is not remove."
**Describe the bug**
when use helm uninstall the emqx-operator release, the emqxplugins.apps.emqx.io crd is not remove.
<img width="1086" alt="image" src="https://user-images.githubusercontent.com/106941947/174712685-77df59c5-6f6b-4788-b7c7-bee3718bccfc.png">

**To Reproduce**
Steps to reproduce the behavior:
see the picture above。
**Expected behavior**
all the crds removed, when use helm uninstal

[2022-06-21 05:38] Rory-Z commented on #242
This is a serious mistake, thanks for the feedback

[2022-06-24 06:39] #236 closed

[2022-06-26 04:36] #223 closed

[2022-06-28 09:39] #242 closed

[2022-06-28 13:01] mariusstaicu opened #252 "Possibility to define additional containers"
**Is your feature request related to a problem? Please describe.**
We are operating emqx broker together with a companion container for cloudsql-proxy.

**Describe the solution you'd like**
Because of this, it would be very useful to be able to specify additional containers in the EmqxBroker crd.

**Describe alternatives you've considered**
Can't think of an alternative atm.

[2022-06-29 01:20] Rory-Z commented on #252
Hi, @mariusstaicu Thanks for your feedback, maybe we can add `containers` for `.spec` in emqx custom resources, what do you think?

[2022-06-30 07:37] mariusstaicu commented on #252
yes, would be great

[2022-06-30 07:40] Rory-Z commented on #252
Cool, we will finish it

[2022-06-30 07:42] mariusstaicu commented on #252
amazing, thanks

[2022-07-10 11:16] AsyncLegs opened #266 "Reloader sidecar version is hardcoded"
Hello there!
Thanks for the great operator software.

I'm trying to deploy this operator and it's not possible to start reload sidecars on raspberry pi nodes as version is hardcoded to emqx-operator-reloader:0.0.1 one - which compiled without arm support.

Is there any way to define this package version somewhere in the operator config?

https://github.com/emqx/emqx-operator/blob/3f2ba1f57839fd339

[2022-07-10 11:41] Rory-Z commented on #266
Hi，@AsyncLegs, Sorry for this, I've just pushed the arm image to docker hub, please try again.

We have think about this, but we are not sure where it is better to define the reloader image in EMQX Custom Resources, do you have any ideas?

[2022-07-10 11:56] AsyncLegs commented on #266
Appreciate your blazing fast reaction on that :)

Probably it doesn't make any sense to define that image somewhere, it seems like some internal operator sidecar tool anyways.

[2022-07-10 12:01] Rory-Z commented on #266
Yes, so we choose hardcode this image in code for now, maybe in the future we will let the user define it, if we need do this.
Anyway, does it work for you now？

[2022-07-10 12:09] AsyncLegs commented on #266
Looks like dockerhub hasn't updated tags yet: https://hub.docker.com/r/emqx/emqx-operator-reloader/tags

will try a bit later

[2022-07-10 12:14] Rory-Z commented on #266
OK, look forward you good news

[2022-07-10 12:20] AsyncLegs commented on #266
Ohh, i was able to find pushed stuff, but looks like typo here: https://hub.docker.com/r/emqx/emqx-operatpr-reloader/tags
@Rory-Z

[2022-07-10 12:24] Rory-Z commented on #266
Oh, it's my mistake, I've push image again, and docker hub is ready: https://hub.docker.com/r/emqx/emqx-operator-reloader/tags

[2022-07-10 12:50] AsyncLegs commented on #266
Now, it fixed!
Thanks

[2022-07-10 12:50] #266 closed

[2022-07-10 12:51] Rory-Z commented on #266
Cooooool

[2022-07-19 06:42] #252 closed

[2022-07-29 00:42] ryphon opened #306 "emqxBroker CRD fails to validate via server side dry-run"
### What happened?

The EMQX crd has issues with CD systems like FluxCD or ArgoCD that do server-side apply dry-runs to validate changes for reconciliation.

### What did you expect to happen?

All potential fields on the CRD are on the schema so that server side dry-runs succeed with zero changes (or configured to ignore said changes)

### How can we reproduce it (as minimally and precisely as po

[2022-08-10 07:14] axkng opened #327 "EMQX-Cluster not working in IPV6 only network"
**Describe the bug**
After following the getting-started page to setup the emqx-operator I provisioned a emqx-cluster.
The pods start and are running, but the status commands return errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy the operator to a EKS cluster with Kubernetes 1.22.9
2. Deploy a simple broker (can be without persistence, I tested that.)
3. Check the outp

[2022-08-10 07:24] Rory-Z commented on #327
Hi, @Furragen
Could you please show emqx-operator logs and emqx custom resource status? run the following command
`kubectl get EmqxBroker  emqx -o json | jq '.status'`
`kubectl logs -f -l "control-plane=controller-manager" -n emqx-operator-system -c manager --tail=100`

[2022-08-10 07:25] Rory-Z commented on #327
And the emqx pod logs
`kubectl logs emqx-0 -c emqx`

[2022-08-10 07:36] Furragen commented on #327
Hi @Rory-Z ,
thanks for your quick response.

[code]

Logs of the operator (`
kubectl logs -f -l "control-plane=controller-manager" -n emqx -c manager --tail=100`)
<details>
  <summary>Logs</summary>
E0810 07:03:59.570352       1 portforward.go:234] lost connection to pod
E0810 07:03:59.838997       1 portforward.go:406] an error occurred forwarding 38417 -> 8081: error forwarding port 8081 to pod

[2022-08-10 07:42] Rory-Z commented on #327
Is this the first deployment? Have you deployed emqx before and deleted it?

[2022-08-10 08:15] Furragen commented on #327
This is the first deployment.

[2022-08-10 08:23] Rory-Z commented on #327
Could you please show logs for `emqx-1` and `emqx-2` ?

[2022-08-10 08:28] Furragen commented on #327
Sure thing.

`kubectl -n exo-emqx logs emqx-1 -c emqx`
[code]

`kubectl -n emqx logs emqx-2 -c emqx`
[code]

Again, the logs just stay the same.

[2022-08-10 08:44] Rory-Z commented on #327
@qzhuyan Have any idea ?

[2022-08-10 09:05] qzhuyan commented on #327
After talked to @Rory-Z we think it relates to `publishNotReadyAddresses` flag in the k8s service.

@Rory-Z will release a fix for it.

@Furragen you could try to manually set `publishNotReadyAddresses` to true and delete all the pods to verify it or wait for the new release of emqx operator.

[2022-08-10 10:01] Furragen commented on #327
Hi @qzhuyan ,
I tested this, but sadly the error stays the same.

[2022-08-10 10:57] Rory-Z commented on #327
Hi @Furragen EMQX Operator 1.2.5 is released, please try again, and please let me know is it work

[2022-08-11 01:21] Rory-Z commented on #327
@Furragen Sounds frustrating, the EMQX pod log  still the same ?

[2022-08-11 01:52] Rory-Z commented on #327
Hi, @Furragen Could you please check pod network ?  running following command in EMQX pod

[code]

you should got output like this

[code]

and check network ping

[code]

[2022-08-11 02:20] Rory-Z commented on #306
Hi, @ryphon Sorry for delay
I tried to deploy crd and it worked
[code]
Is there anything else I need to know?

[2022-08-11 03:08] ryphon commented on #306
Hi @Rory-Z, I'm sure you're busy, appreciate the response. Try applying a broker object itself, similar to:

`apiVersion: apps.emqx.io/v1beta2
kind: EmqxBroker
metadata:
  name: emqx
  namespace: emqx
spec:
  image: emqx/emqx:4.4.0
  resources:
    limits: {}
    requests:
      cpu: 100m
      memory: 512Mi
  emqxTemplate:
    listener:
      type: LoadBalancer
      ports:
        mqtt: 1883

[2022-08-11 03:39] Rory-Z commented on #306
Hi @ryphon I deploy EMQX Broker custom resource like you said and it is working fine.
[code]

Waiting EMQX cluster ready
[code]

And run the apply again

[code]

I'm using EMQX Operator 1.2.5 by helm chart 1.0.10
[code]

[2022-08-11 04:46] ryphon commented on #306
Huh, guess I was on an older version than I thought. Updated to helm chart 1.0.10, app version 1.2.5, and updated my broker spec from v1beta2 -> v1beta3 + some of the template changes. Seems to work great now.

Big thanks for the help, great product!

[2022-08-11 04:46] #306 closed

[2022-08-11 05:22] Furragen commented on #327
So the lookup worked fine. My cluster uses IPv6 btw. Could that be a problem?

Network ping did not work.

[2022-08-11 05:57] Rory-Z commented on #306
Coooool

[2022-08-11 06:07] Rory-Z commented on #327
I think that is reason.

Could you please check if pinging another EMQX pod with IP in the EMQX pod works?

[2022-08-11 06:18] Rory-Z commented on #327
In statefulSet, pod should have stable network ID: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id, EMQX use this network ID discover each other, if network don't work, EMQX cluster will failed.

Because this is the k8s feature, so maybe need check AWS EKS

[2022-08-11 06:39] Furragen commented on #327
The direct way via the IP of the pod also did not work.
And I think I know why:
EMQX only listens on IPv4.
[code]

This was from inside the emqx-0 pod.
Like I said, the cluster uses IPv6, so this can not work.
Is there any way to make EMQX listen to IPv6?

[2022-08-11 07:04] Rory-Z commented on #327
@Furragen You can deploy EMQX like this:
[code]
Sorry I don't have IPV6 cluster, so need your try this

[2022-08-11 07:28] Furragen commented on #327
Absolutely no problem.
I redeployed the broker and we got a little further.
The logs and the error stays the same:
[code]

But: doing the ping by hand with `nc`now succeeds.
So the connection works, but something is still broken.
Could there be more listeners that I need to switch to v6?

[2022-08-11 09:16] Rory-Z commented on #327
Cooool, You can change all the listener you care about to IPV6 format, see https://www.emqx.io/docs/en/v4.4/configuration/configuration.html#listener-tcp-external

[2022-08-11 10:07] Rory-Z commented on #327
@qzhuyan @zmstone Need help

[2022-08-11 10:54] qzhuyan commented on #327
[code]

means the peer node that we are pinging is unreachable.

[2022-08-11 11:00] Furragen commented on #327
I ran the command from the emqx-0 pod, trying to query emqx-1.
Does that not mean emqx-0 has a problem?

[2022-08-11 13:26] zmstone commented on #327
It's likely that EMQX's distribution and RPC library does not support ipv6 that well.
We'll investigate it.

[2022-08-12 04:56] Furragen commented on #327
Good to know, thank you.

[2022-08-26 16:28] xtianus79 opened #346 "How can setup an ingress controller to access the emqx services inside of kubernetes. configmap isn't working in operator"
I am trying to use the operator to accomplish setting up an ingress controller so I can outbound access the mqtt broker and dashboard.

I am using Azure AKS with pretty much the default setup from the EQMX website.
https://docs.emqx.com/en/enterprise/v4.4/getting-started/install-on-k8s.html

Because ingress is setup to natively take on http traffic you have to modify the controller to handle TCP t

[2022-08-26 21:04] xtianus79 commented on #346
I figured it out. I will post the solution soon. 1 thing I had to realize is the operator is releasing the deployment and the services.

[2022-08-29 09:23] mariusstaicu opened #348 "Is operator not designed for emqx broker v5 ?"
**Describe the bug**
When I try to deploy a v5.0.6 emqx image the resulting statefulset does not properly create emqx cluster.
It is like the operator v1.2.5 is not designed to operate emqx v5 broker images. So my question: is this a bug or it is just not designed for v5 yet ?

**To Reproduce**
deploy something like:
[code]
After the broker starts I have some warnings in logs and autocluster is no

[2022-08-30 01:14] Rory-Z commented on #348
Hi，@mariusstaicu I'm sorry, the `apps.emqx.io/v1beta3` is not designed to operate EMQX v5 broker, We plan to release the new APIVersion Kind tomorrowIt: `apps.emqx.io/v2alpha1, Kind: EMQX`, and it is specifically designed for EMQX v5

[2022-08-31 04:07] Slideee opened #357 "Is it possible to add and delete through HTTP API"
After acl.conf is mounted to /mounted/acl/acl.conf by the operator, is the native ACL HTTP API unavailable?

At the same time, after changing the acl configuration by modifying the acl field under the spec, you need to reload the acl module before the corresponding rules take effect. is that so?

- emqx-operator version:  1.2.1

[2022-08-31 04:35] Slideee commented on #357
The interface can only query the ACL data added by the HTTP API
<img width="594" alt="image" src="https://user-images.githubusercontent.com/48793283/187593353-fd840efb-f726-48a8-87a6-ccdf10c53521.png">

In fact, the ACL configuration in the path I mounted, and the ACL rules added through the HTTP API do not exist under /mounted/acl/acl.conf
<img width="483" alt="image" src="https://user-images.git

[2022-08-31 05:51] Rory-Z commented on #357
Hi， @Slideee could you please update operator version to 1.2.5 and retry it ?

[2022-08-31 05:56] Rory-Z commented on #346
Hi， @xtianus79 I'm sorry, we not support `.spec.emqxTemplate.envFrom`, maybe you can try `.spec.emqxTemplate.config`, this is a map

[2022-08-31 08:41] Slideee commented on #357
emqx version: 4.3.12 , I'll test 1.2.5 later

[2022-08-31 09:18] Rory-Z commented on #357
Hi @Slideee We have just release 1.2.6, and you can try it.
About EMQX,  we recommend using 4.4.8
Please let me know if you are using the Enterprise version of EMQX or the Community version of EMQX

[2022-08-31 09:22] Slideee commented on #357
OK， Community EMQX 4.3.12

[2022-08-31 10:32] HandsomeBoy01 opened #361 "emqx.yaml"
emqx.yaml 完整配置在哪里能找到文档？

[2022-09-01 08:52] Rory-Z commented on #348
Hi @mariusstaicu EMQX Operator 2.0.0 Released, please see https://github.com/emqx/emqx-operator/blob/main/docs/en_US/getting-started/getting-started.md#deploy-emqx-5

[2022-09-01 08:52] #348 closed

[2022-09-01 08:53] Rory-Z commented on #361
Please see https://github.com/emqx/emqx-operator/blob/2.0.0/config/samples/emqx/v2alpha1/emqx-full.yaml

[2022-09-01 08:53] #361 closed

[2022-09-02 02:46] xtianus79 opened #369 "How to terminate TLS mqtt to TCP with Kubernetes ingress-nginx controller. ERROR: Client network socket disconnected before secure TLS connection"
Not sure if this is a bug but this is something I am trying to get through and not sure what I can do to get past the error.

I feel like I am close but I am not sure if I am just terminating wrong with the ingress controller and what I am trying is not possible. Or, the certificate is in the way and I need to do something to alleviate the issue.

Another idea I see is using a HAPROXY LB in front

[2022-09-02 03:27] Gala-R commented on #369
you can take a look at this discussion https://github.com/kubernetes/ingress-nginx/issues/636, As I said before, nginx ingress is not friendly to tcp and currently does not support tls offloading on nginx ingress

[2022-09-02 03:27] Gala-R commented on #369
you can take a look at this discussion https://github.com/kubernetes/ingress-nginx/issues/636, As I said before, nginx ingress is not friendly to tcp and currently does not support tls offloading on nginx ingress @xtianus79

[2022-09-02 04:36] xtianus79 commented on #369
@Gala-R I think part of my issue is I don't understand what the "offloading" or "termination" is technically doing.  With that said, 2 questions.

1. Can I do the solution from that link? Would you recommend it?
[code]

[2022-09-02 14:08] xtianus79 commented on #369
also, @Gala-R  do you think it would be worth trying to figure out what is going on here? It seems like if the cert issue wasn't there it would go through as expected? I get that the instruction rule of the ingress won't work but I feel like it also shouldn't matter. Shouldn't the load balancer which is what is being installed by HELM and setting the TCP be enough? the 8883 -> 1883 Shouldn't that

[2022-09-03 10:06] mariusstaicu commented on #348
thanks!

[2022-09-06 03:12] Gala-R commented on #369
1 termination means to process mTLS on the LB, not on the EMQX side
2 i don't recommend  the solution from above link
3 I would like to know what your needs are @xtianus79

[2022-09-06 17:15] neiledgar opened #376 "podAnnotations not working"
**Describe the bug**
I am trying to apply some pod annotations to the controller manager. My values contains
[code]

**To Reproduce**
I get an YAML parse error with version emqx-operator 2.0.0, helm v3.7.2, kubectl 1.22.0
`
Error: YAML parse error on emqx-operator/templates/controller-manager.yaml: error converting YAML to JSON: yaml: line 26: did not find expected key
helm.go:88: [debug] error co

[2022-09-07 01:28] Rory-Z commented on #376
Hi, @neiledgar Thx

[2022-09-07 01:57] #376 closed

[2022-09-07 09:30] neiledgar commented on #376
Thanks for the quick turnaround. I can confirm the fix works for me.

[2022-09-09 13:19] daadu opened #381 "Fails when operator is installed on some other name than `emqx-operator-system`"
**Describe the bug**
I installed `emqx-operator` with helmfile in namespace  `emqx-operator` (instead of `emqx-operator-system` as described in README). I configured `EMQX` crd resource and while installing I got following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Spin fresh k8s cluster
2. Install emqx operator to `emqx-operator` namespace
[code]
3.  Apply EMQX resource

[2022-09-09 13:24] daadu commented on #381
Filed PR - please review.

[2022-09-09 14:46] daadu opened #383 "Permission denied error when uncommenting `volumeClaimTemplates`"
**Describe the bug**
I have configured `EMQX` as following

[code]

When the `emqx-core-0` starts it crashes with following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
I just uncommented `volumeClaimTemplates` section under `coreTemplate` [also removed hardcoded `storageClassName` so that the default is selected] - removed `replicantTemplate` section, as not required - remove

[2022-09-12 10:49] fabltd opened #384 "Cannot login to dashboard"
**Describe the bug**
Dash board reports - some error occoured

Logs show:

`2022-09-12 11:41:09.622 BST2022-09-12T10:41:09.621898+00:00 [warning] exception: error, line: 116, mfa: minirest_handler:apply_callback/3, path: /listeners, reason: {badmatch,{error,{'EXIT',{{badkey,<<"listeners">>},[{erlang,map_get,[<<"listeners">>,#{}],[{error_info,#{module => erl_erts_errors}}]},{emqx_config,get_schema_

[2022-09-13 01:36] Rory-Z commented on #384
Hi, @fabltd Could you please share your EMQX Custom Resource YAML file ? like `https://github.com/emqx/emqx-operator/blob/2.0.0/config/samples/emqx/v2alpha1/emqx-full.yaml`

[2022-09-13 02:10] Rory-Z commented on #383
Hi, @daadu Thanks for your feedback, please check https://github.com/emqx/emqx-operator/pull/386/files, add `podSecurityContext ` and `containerSecurityContext ` and retry

[2022-09-13 02:21] #381 closed

[2022-09-13 02:42] fabltd commented on #384
Hi Rory

I just used the example here:
[code]
I have made no attempt to customise. Yet

Then ran:

`k port-forward service/emqx-dashboard 18083:18083 `

Attempted to login to the dashboard it reports `Some Error`

Logs showing the error.

I am now not able to progress.

Thank you

[2022-09-13 02:46] Rory-Z commented on #384
Hi, @fabltd Does this error log only appear once, or does it appear every time log in?

[2022-09-13 02:47] fabltd commented on #384
Every attempt to login.

I have never been able to login.

[2022-09-13 02:48] fabltd commented on #384
If you let me know a way to contact you I can give you access to the cluster?

[2022-09-13 02:51] fabltd commented on #384
Also what is the purpose of this annotation:

`banzaicloud.com/last-applied: UEsDBBQACAAIAAAAAAAAAAAAAAAAAAAAAAAIAAAA.........`

[2022-09-13 03:02] Rory-Z commented on #384
Could you please run `emqx eval  "persistent_term:get({emqx_config, schema_mods})."` in EMQX pods ? And please let me know outputs

[2022-09-13 03:03] Rory-Z commented on #384
This annotation is used by the EMQX Operator to determine if a resource needs to be updated, and you can ignore it

[2022-09-13 03:06] fabltd commented on #384
I have 6 pods running 3 core pods and 3 replicant pods.

Can you confirm the full command to run?

[2022-09-13 03:19] fabltd commented on #384
Assuming you mean a kubectl exec I got the following:

**emqx-core-0**

[code]

**emxq-core-1**

[code]

**emqx-core-2**

[code]

The output appears to be the same for each of the replicant pods

[2022-09-13 03:30] Rory-Z commented on #384
@zhongwencool Anything ideas ?

[2022-09-13 03:37] zhongwencool commented on #384
Thanks for all detail messages :0

The `emqx eval "persistent_term:get({emqx_config, schema_mods})."` results are ok.

What happened when you login in now?
the crash log `exception: error, line: 116, mfa: minirest_handler:apply_callback/3, path: /listeners, reason: {badmatch,{error,{'EXIT',{{badkey,` Should not appear anymore.

[2022-09-13 04:05] fabltd commented on #384
I have removed and rebuild the k8s cluster. Re installed.

Still same error:` Some error occurred`

And same error message:

Info
`2022-09-13 05:00:36.056 BST2022-09-13T04:00:36.055746+00:00 [warning] exception: error, line: 116, mfa: minirest_handler:apply_callback/3, path: /listeners, reason: {badmatch,{error,{'EXIT',{{badkey,<<"listeners">>},[{erlang,map_get,[<<"listeners">>,#{}],[{error_info,#

[2022-09-13 04:06] fabltd commented on #384
@zhongwencool let me know if you want access to the cluster I can email you to arrange.

JT

[2022-09-13 04:11] fabltd commented on #384
Attached is the complete log from the new cluster.

There are some other interesting log enteries:

`[warning] Ekka(AutoCluster): discovery did not succeed; retrying in 5000 ms"`

`[warning] line: 121, mfa: mria:stop/1, msg: Stopping mria, reason: join`

[downloaded-logs-20220913-050731.json.zip](https://github.com/emqx/emqx-operator/files/9553432/downloaded-logs-20220913-050731.json.zip)

[2022-09-13 06:07] zhongwencool commented on #384
Please  send it to zhongwen.deng[at]emqx.io.

[2022-09-13 06:18] fabltd commented on #384
Thank you

I am just looking the the config and I note the following:

bootstrapConfig string | EMQX bootstrap config, hocon style, like emqx.conf Cannot be updated.

How do you make config changes once the install is deployed?

[2022-09-13 06:20] Rory-Z commented on #384
In our design, this can be modified via the EMQX Dashboard, but in this issue, you can't log in EMQX Dashboard

[2022-09-13 06:22] fabltd commented on #384
Thanks

Whats the difference between the core pods and the replicant pods?

[2022-09-13 06:28] Rory-Z commented on #384
Maybe this can be help: https://www.emqx.com/en/blog/how-emqx-5-0-achieves-100-million-mqtt-connections

[2022-09-13 06:32] fabltd commented on #384
Thanks

Is there some docs on configing the options for the listenersServiceTemplate ?

I.E how to set up for MQTTS ?

Can we provision a load balancer from here. I am wondering if my issue is related to networking configuration with port forwarding so I wanted to try cluster IP / Load Balancer.

[2022-09-13 07:39] Rory-Z commented on #384
Hi， @fabltd, In fact, the `listenerServiceTemplate` is the k8s service resource, so you can set `listenerServiceTemplate.spec.type: LoadBalancer` like service resource

[2022-09-13 08:07] fabltd commented on #384
Hi Rory

Ok somthing doesn't work with Google Cloud Shell port forwarding. Now I have a nodeport exposed the dashboard is working.

How do I enable MQTTS I see how to add the listerner in the dashboard but how do I define it in the yaml?

[2022-09-13 08:18] Rory-Z commented on #384
Two ways:

1. You can add listeners by EMQX Dashboard, the EMQX Operator will update service for add listener port
2. You can set `listeners.ssl.default.bind` to `bootstrapConfig` in EMQX Custom Resource YAML file, for more configuration details, please check emqx's `etc/emqx-example.conf`

[2022-09-13 08:37] fabltd commented on #384
Thnaks I noted its updating the loadbalncer. I just need to provision some certs to test.

Point 2 - That still only applies on inital config cannot be updated after?

[2022-09-13 08:45] Rory-Z commented on #384
You can create tls secret resource, and use `.replicantTemplate.spec.extraVolume` and `.replicantTemplate.spec.extraVolumeMount` to mount to EMQX container.

I recommend that you use the EMQX Dashboard directly, which will allow you to upload your certs

Yes.

[2022-09-14 12:45] #346 closed

[2022-09-27 12:08] #384 closed

[2022-09-27 12:08] #383 closed

[2022-09-27 12:08] #369 closed

[2022-09-27 12:08] #357 closed

[2022-10-05 09:18] dnlwgnd opened #405 "TLS issue on webhooks on openshift"
Hello,

I am trying to get the operator running on an openshift installation but I face an TLS issue between Kube Api Server Operator and webhooks back to the EMQX Operator (or so it seems)

I installed the operator using the provided Helmchart, but disabled cert-manager support (setting it to false in values.yaml), because Openshift comes with similar functionality.
In particular, I created a TLS

[2022-10-08 01:28] Rory-Z commented on #405
Hi, @dnlwgnd sorry for delay.
Looks like your cert is wrong, maybe you can check the `emqx-operator-webhook-server-cert`
I'm sorry the EMQX Operator Helm Chart only support cert-manger, we will try support openshifts certificate system, maybe next release

[2022-10-08 01:36] Rory-Z commented on #405
In the [openshift documentation](https://docs.openshift.com/container-platform/4.11/security/certificate_types_descriptions/service-ca-certificates.html), I see this line:

I think maybe this is reason for `bad certificate`, because we need the `ca.crt` for secret data keys, not `ca-bundle.crt`

[2022-10-10 10:38] dnlwgnd commented on #405
thanks for getting back.

the webhook-server tls secret looks like this
[code]
as you can see, openshift platform has injected a tls.crt and a tls.key.
The tls.crt does contain the whole chain, in this case the server certificate followed by the ca certificate. This seems to be common practice.

I tried adding an additional key ```ca.crt``` holding the ca cert, but it makes no difference.
Also, as

[2022-10-11 01:37] Rory-Z commented on #405
This certificate is provided for use by Admission Webhooks, Admission Webhooks are a mechanism for extending kubernetes APIs. Webhooks can be configured with target event type (object Create, Update, Delete), the API server will send AdmissionRequests to them when certain events happen. The webhooks may mutate and (or) validate the object embedded in the AdmissionReview requests and send back the

[2022-10-11 08:39] dnlwgnd commented on #405
yes the SAN is this
[code]

What you write goes along with my understanding. Then the certificate I created must be correctly used.
In particular, the certificate is used by the webhook server. Then the kube-api makes a call to the webhook-server, receives said certificate and validates it agains ca-bundle injected in Mutatin/Validating-webhook-configuration.

Now I am not so sure anymore that the

[2022-10-11 10:07] Rory-Z commented on #405
I think the problem is happened  with starting webhooks, look logs:
[code]

The 9443 port is failed, and this port is the webhook server port.

Yes, emqx-operator-controller-manager will call kubernetes apiserver, by ClusterRole and Serviceaccount, you can check in https://github.com/emqx/emqx-operator/blob/677930f6ecadd3c579c4e7e535236a9f153c1356/deploy/charts/emqx-operator/templates/controller-m

[2022-10-11 10:56] dnlwgnd commented on #405
well the webhook server must be started, because I can connect to it manually with for example openssl tool or curl via port-forward.

now looking more at the log
[code]
Does it dynamically register more webhooks upon starting? Those will then miss the ca-bundle.
I.e. others than in
[deploy/charts/emqx-operator/templates/webhook-mutating-configuration.yaml](https://github.com/emqx/emqx-operator/bl

[2022-10-12 02:55] Rory-Z commented on #405
No, this is all webhooks by EMQX Operator.

Is there any error log for openshifts certificate system

[2022-10-12 10:50] Gala-R commented on #405
@dnlwgnd  i want to know which version of openshift is used and which platform is it deployed on.

[2022-10-12 11:51] dnlwgnd commented on #405
I am running
[code]
The platform is oVirt, i.e on prem.

[2022-10-13 03:50] Gala-R commented on #405
I can't find the document for configuring the certificate on the openshift official website. Can you provide the document address of the service configuration?
@dnlwgnd

[2022-10-13 03:51] Gala-R commented on #405
I can't find the document for configuring the certificate on the openshift official website. Can you provide the document address of the service configuration? @dnlwgnd

[2022-10-13 06:55] dnlwgnd commented on #405
Dear @Gala-R,

I refered to this piece of Openshift documentation
https://docs.openshift.com/container-platform/4.11/security/certificates/service-serving-certificate.html
It specifially has a section for creating/injecting the tls-secret to be used by the server and an other section to inject a corresponding ca-bundle into the Admission Webhook configuration.

[2022-10-13 18:07] Gala-R commented on #405
I have no problem deploying emqx-operator validation in the 4.11 version of openshift environment, can you show the configuration of emqx-operator-validating-webhook-configuration, emqx-operator-validating-webhook-configuration, emqx-operator-webhook-service

[2022-10-15 11:41] Gala-R commented on #405
I have no problem deploying emqx-operator validation in the 4.11 version of openshift environment, can you show the configuration of emqx-operator-validating-webhook-configuration, emqx-operator-validating-webhook-configuration, emqx-operator-webhook-service @dnlwgnd

[2022-10-17 06:58] dnlwgnd commented on #405
sure

Service
[code]

Validating Webhook
[code]

and the mutating webhook
[code]

[2022-10-18 11:06] mariusstaicu opened #419 "Emqx core node in error"
**Describe the bug**
Emqx core node fails to start on k8s after deletion and recreation with persistent volume. The goal was to deploy a broker that preserves the settings (dashboard users, mqtt clients auth & authz) even if the EMQX respource is deleted.

**To Reproduce**
`1. Install emqx-operator via Helm in k8s
 2. Deploy a basic emqx broker with volumeClaimTemplate
 4. Wait for it to start, ch

[2022-10-19 06:55] mariusstaicu commented on #419
The cluster has 3 nodes in first deployment and also in second. I do not make cluster topology changes manually, I let the operator provision all. Is there a way to make this work without manually deleting mnesia dir ?

[2022-10-19 08:04] mariusstaicu commented on #419
No, it just contains the data from emqx normal deployment, no other modifications done.

[2022-10-20 02:36] Rory-Z commented on #419
Hi, @mariusstaicu could you please delete `.spec.coreTeamplte.spec. lifecycle` retry all the steps?

[2022-10-24 13:13] Gala-R commented on #405
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    service.beta.openshift.io/inject-cabundle: "true"
...
webhooks:
- myWebhook:
  - v1beta1
  clientConfig:
    caBundle: <CA_BUNDLE>
...
@dnlwgnd  official website annotations are double quotes, your single quotes, very strange。

[2022-10-27 14:47] mariusstaicu commented on #419
Hi @Rory-Z I will try.

[2022-10-28 08:51] mariusstaicu commented on #419
Hi I can confirm that the problem doesn't happen anymore when I remove the lifecycle.

[2022-10-28 08:59] Rory-Z commented on #419
Cool.
I will close this issue, if you have any questions you can always open it

[2022-10-28 08:59] #419 closed

[2022-11-01 06:00] wooonderful opened #433 "Need a method to setting private image registry for emqx-operator-reloader image"
**Describe the solution you'd like**
We install emqx-operator by helm or yaml, but both have no method to setting the private registry for   emqx-operator-reloader image.

**Describe alternatives you've considered**
the emqx-operator-reloader image's registry should be same to emqx-operator-controller's registry.

[2022-11-01 06:18] Rory-Z commented on #433
Hi, @wooonderful, I think the `emqx-operator-reloader` image's registry should can be user-defined in EMQX CR File, this has nothing to do with `emqx-operator-controller`, what do you think ?

[2022-11-01 06:39] wooonderful commented on #433
<img width="515" alt="image" src="https://user-images.githubusercontent.com/115449150/199173637-1d6d8dca-2d04-41a6-8609-94a93bb2bb84.png">
thanks for your reply, now the helm value.yaml file has repository feild, I think this field should be the private registry url, eg: "https://hub-mirror.c.163.com", "https://dockerhub.azk8s.cn"

[2022-11-03 14:32] ssfdust commented on #433
https://github.com/emqx/emqx-operator/blob/a274cd4d34aee134b62fcf3ec8100a2cb1f74a56/controllers/apps/v1beta3/emqx_handler.go#L723
这里写死了`ReloaderContainerImage`，应该提供一个`instance.getReloaderImage`的方法，让用户自定义reloader image地址。

现在的临时方案就是在operator生成statefulset之后，把statefulset的reloader image给patch掉。

[2022-11-03 14:57] suojun-hao opened #435 "emqx-operator-controller-manager pod failed with runtime error: index out of range"
**Describe the bug**
emqx-operator-controller-manager pod keep crashing with the below logs after deploy the emqx opensource broker to cluster. here we use kustomize.

Logs:
[code]

**Environment details:**:
- Kubernetes version:  1.24.6
- Cloud-provider/provisioner: Azure
- emqx-operator version: 2.0.1
- Install method: static manifests

[2022-11-04 01:33] Rory-Z commented on #435
Sorry about, we will fix this in next release

[2022-11-04 09:14] #435 closed

[2022-11-04 09:26] suojun-hao commented on #435
okay, thanks a lot. we will try with the new release.

[2022-11-08 06:07] #405 closed

[2022-11-09 17:52] dberardo-com opened #451 "Can users/ACL be managed by the operator"
if so, then which params of the CRD should be set ?

[2022-11-09 18:27] dberardo-com opened #452 "Error creating CRD when reusing helm install on different namespaces"
The first time i run helm install everything goes smoothly, i.e. the CRD are installed and all the rest deployed.

when i run helm install on a different namespace, setting the value skipCRDs to true, i get an error of ownership in the cluster role ... how to fix?

[2022-11-09 18:30] dberardo-com commented on #452
ok i got it, i have to set

serviceAccount:
  create: false

but now i get an error with the annotation MutatingWebhookConfiguration helm.release which is not matching the new namespace

[2022-11-10 02:42] Rory-Z commented on #451
Are you using EMQX 5 or EMQX 4 ?

[2022-11-10 02:44] Rory-Z commented on #452
You only need to install Operator once and it can manage emqx in different namespaces

[2022-11-10 07:00] dberardo-com commented on #452
thanks for the reply. I will take note of it.

I am not fully aware of which version i am using, but i know i am using the chart v2.0.1 from https://repos.emqx.io/charts and to setup the cluster i am using the EMQX  CRD, not EMQBroker, so i guess i am using v5 - 2lapha1 , am i correct?

[2022-11-10 07:13] Rory-Z commented on #452
This depends on the version of EMQX you are deploying, in `v2alpha1` we use `kind: EMQX` to deploy EMQX 5, in `v1beta3` we use `kind: EmqxBroker` to deploy the community version of EMQX 4, and `kind: EmqxEnterprise` to deploy the enterprise version of EMQX 4

[2022-11-10 07:15] Rory-Z commented on #452
In addition to this, EMQX Operator also offers a number of operational and maintenance features. For example, when you update the EMQX listener using the EMQX 5 Dashboard, the EMQX Operator will automatically update the K8S service

[2022-11-10 07:20] dberardo-com commented on #452
so you mean that creating ACL and topics is possible via defining the right CRD?  is there any documentation for that ?

[2022-11-10 07:22] dberardo-com commented on #451
5.0.9

[2022-11-10 07:37] Rory-Z commented on #451
In EMQX 5, all user/ACLs can be configured via `emqx.conf`, and in EMQX CR, you can populate with the contents of `.spec.bootstrapConfig`

[2022-11-10 08:28] dberardo-com commented on #452
i think this issue can be closed and our discussion moved to: https://github.com/emqx/emqx-operator/issues/451#issuecomment-1309888092

[2022-11-10 08:31] dberardo-com commented on #451
i see, ok, i was actually meaning something like EMQXAclUser and creating users/acl as CRD instead of having to edit the "core" EMQX file defining the emqx cluster and its config. Fair enough though i will have a look at the config documentation you linked: https://www.emqx.io/docs/en/v5.0/admin/cfg.html

I had experience with mosquitto and SQL based ACLs. Is it a thing in EMQX as well? could ACL

[2022-11-10 08:37] Rory-Z commented on #451
So cool, I'm looking forward

[2022-11-10 08:38] Rory-Z commented on #452
OK, let me close this issue

[2022-11-10 08:38] #452 closed

[2022-11-25 01:36] Rory-Z opened #480 "How to update EMQX resource when using bootstrapConfig"
### Discussed in https://github.com/emqx/emqx-operator/discussions/471

<div type='discussions-op-text'>

<sup>Originally posted by **mariusstaicu** November 21, 2022</sup>
When using bootstrapConfig one cannot reapply the yaml and update other portions of it because of the validation error:
[code]

How to update the EQMX resource without this validation failure? </div>

[2022-11-28 10:01] #480 closed

[2022-11-28 14:10] mariusstaicu opened #486 "emqx-operator-webhook-service has vague spec selectors"
**Describe the bug**
The original emqx-operator-webhook-service has the following config:
[code]
which is too vague. On my k8s cluster, with additional operators installed this service selector targets also other operator pods causing problems when the request goes to other operators.

**To Reproduce**
Steps to reproduce the behavior:
- have another pod with label: control-plane: controller-manage

[2022-11-28 14:11] mariusstaicu commented on #486
not sure if this is a bug or enhancement though

[2022-11-29 02:22] Rory-Z commented on #486
Yes, it's my bad, and after Operator 2.0, we recommend using Helm to deploy EMQX Operator, which avoids similar problems

[2022-11-29 05:32] #486 closed